%ul.list-inline.pt-10.mb-25.mr-240
  %li.mr-35
    %a.filter-link{href: "#"}
      = I18n.t('books.catalog.all')
      %span.badge.general-badge 135
  %li.mr-35
    %a.filter-link{href: "#"}
      = I18n.t('books.catalog.mobile')
      %span.badge.general-badge 135
  %li.mr-35
    %a.filter-link{href: "#"}
      = I18n.t('books.catalog.photo')
      %span.badge.general-badge 135
  %li.mr-35
    %a.filter-link{href: "#"}
      = I18n.t('books.catalog.web_design')
      %span.badge.general-badge 135