%tr.no-hover
  %th.col-pic.pl-0
    %span.in-grey-600= t('carts.item.products')
  %th.col-title
  %th.col-price
    %span.in-grey-600= t('carts.item.price')
  %th.col-quantity
    %span.in-grey-600= t('carts.item.quantity')
  %th.col-total
    %span.in-grey-600= t('carts.item.subtotal')
  %th.col-close