.col-sm-6
  .product-gallery
    .mb-20
      -if @book.images.any?
        =image_tag @book.images.first.image_url, class: 'img-responsive', alt: "book-image"
        .images.clearfix
          - if @book.images.drop(1).any?
            -@book.images.drop(1).each do |image|
              =image_tag image.image_url, class: 'img-link', alt: "book-image"