%main.container.general-main-wrap
  =render 'partials/checkouts/steps'
  %h3.general-subtitle= t('checkouts.show.delivery.credit_card')
  = render partial: 'partials/checkouts/delivery/table_mobile'
  = render partial: 'partials/checkouts/delivery/table_desktop'