.general-message-wrap.divider-lg
  %h4 Write a Review
  .ml-70.write-review
    .row
      -if can? :create, Review
        = simple_form_for :review, url: book_reviews_path(@book.id), validate: true do |f|
          =f.input :body, label: 'Title'
          =f.input :score, collection: 0..5, label: 'Score', selected: 5
          =f.submit 'Post', class: 'btn btn-default pull-right general-position'